ul {
    list-style: none;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

.card-body {
    margin: 1rem;
}

.card {
    margin: .5rem;
}

.card-header {
    background-color: burlywood;
}